yfinance>=0.2.33
pandas>=2.0.0
numpy>=1.24.0
matplotlib>=3.7.0
cmdstanpy>=1.2.0
prophet>=1.1.5
scikit-learn>=1.3.0
streamlit>=1.28.0
pystan==2.19.1.1
convertdate>=2.3.2
lunisolar>=0.0.9
holidays>=0.35
tqdm>=4.64.1
